<h3>
  Listagem de países
</h3>
<p-table
  [value]="paises"
  [paginator]="true"
  [rows]="10"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pais>
    <tr>
      <td>{{ pais.id }}</td>
      <td>{{ pais.nome }}</td>
      <td>{{ pais.status }}</td>
      <td><p-button label="Deletar" styleClass="ui-button-danger" (onClick)="deletarPais(pais.id)"></p-button></td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
  <p-footer>
      <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
